
<ion-content padding>
    <p>裁剪图片为圆形</p>
    <ion-avatar>
        <img src="../../assets/images/avatar.png" alt="头像">
    </ion-avatar>
    <p>围绕内容的圆角矩形</p>
    <ion-chip>
        <ion-avatar>
            <img src="../../assets/images/avatar.png" alt="头像">
        </ion-avatar>
        <ion-label>23232323232</ion-label>
    </ion-chip>
    <p>具有下划线的</p>
    <ion-item>
        <ion-avatar slot="start">
            <img src="../../assets/images/avatar.png" alt="头像">
        </ion-avatar>
        <ion-label>dsdsdsdsds</ion-label>
    </ion-item>

    <ion-item>
        <ion-label>dsdsdsdsds</ion-label>
        <ion-avatar slot="end">
            <img src="../../assets/images/avatar.png" alt="头像">
        </ion-avatar>
    </ion-item>
</ion-content>
