.paddingtest ion-col {
  border: #0ec254 1px solid;
  & > div {
    border: #32db64 1px solid;
  }
}

.custom-padding {

  & ion-col {
    padding: var(--content-padding, 30px);
    border: #0ec254 1px solid;
    & > div {
      border: #32db64 1px solid;
    }
  }
}

.marginTest {
  & ion-col {
    border: #0ec254 1px solid;
    & > div {
      border: #32db64 1px solid;
    }
  }
}