<!--<ion-header>-->
  <!--<ion-toolbar>-->
    <!--<ion-title>text</ion-title>-->
  <!--</ion-toolbar>-->
<!--</ion-header>-->

<ion-content padding>
    <h3>文本对齐方式</h3>
    <ion-grid>
        <ion-row>
            <ion-col [size]="12" size-sm>
                <div text-start>
                    <h3>text-start</h3>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac vehicula lorem.
                </div>
            </ion-col>
            <ion-col [size]="12" size-sm>
                <div text-end>
                    <h3>text-end</h3>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac vehicula lorem.
                </div>
            </ion-col>
            <ion-col [size]="12" size-sm>
                <div text-center>
                    <h3>text-center</h3>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac vehicula lorem.
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col [size]="12" size-sm>
                <div text-justify>
                    <h3>text-justify</h3>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac vehicula lorem.
                </div>
            </ion-col>
            <ion-col [size]="12" size-sm>
                <div text-wrap>
                    <h3>text-wrap</h3>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac vehicula lorem.
                </div>
            </ion-col>
            <ion-col [size]="12" size-sm>
                <div text-nowrap>
                    <h3>text-nowrap</h3>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
    <p>浮动??????</p>
    <ion-grid>
        <ion-row>
            <ion-col [size]="3" float-left>
                <h3>float-left</h3>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac vehicula lorem.
            </ion-col>
            <ion-col [size]="3" float-end>
                <h3>float-right</h3>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac vehicula lorem.
            </ion-col>
        </ion-row>
    </ion-grid>
    <p>内边距</p>
    <ion-grid class="paddingtest">
        <ion-row>
            <ion-col padding>
                <div>
                    padding
                </div>
            </ion-col>
            <ion-col padding-top>
                <div>
                    padding-top
                </div>
            </ion-col>
            <ion-col padding-start>
                <div>
                    padding-start
                </div>
            </ion-col>
            <ion-col padding-end>
                <div>
                    padding-end
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col padding-bottom>
                <div>
                    padding-bottom
                </div>
            </ion-col>
            <ion-col padding-vertical>
                <div>
                    padding-vertical
                </div>
            </ion-col>
            <ion-col padding-horizontal>
                <div>
                    padding-horizontal
                </div>
            </ion-col>
            <ion-col no-padding>
                <div>
                    no-padding
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
    <p>自定义默认内边距</p>
    <ion-grid class="custom-padding">
        <ion-row>
            <ion-col padding>
                <div>
                    padding
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
    <p>外边距</p>
    <ion-grid class="marginTest">
        <ion-row>
            <ion-col margin>
                <div>
                    margin
                </div>
            </ion-col>
            <ion-col margin-top>
                <div>
                    margin-top
                </div>
            </ion-col>
            <ion-col margin-start>
                <div>
                    margin-start
                </div>
            </ion-col>
            <ion-col margin-end>
                <div>
                    margin-end
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col margin-bottom>
                <div>
                    margin-bottom
                </div>
            </ion-col>
            <ion-col margin-vertical>
                <div>
                    margin-vertical
                </div>
            </ion-col>
            <ion-col margin-horizontal>
                <div>
                    margin-horizontal
                </div>
            </ion-col>
            <ion-col no-margin>
                <div>
                    no-margin
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>
