<!--<ion-header>-->
  <!--<ion-toolbar>-->
    <!--<ion-title>Header</ion-title>-->
  <!--</ion-toolbar>-->
<!--</ion-header>-->

<ion-content padding>
    <h1 (click)="jumper('resposive-grid')">ionic4中的响应式布局</h1>
    <h1 (click)="jumper('text')">text布局</h1>
    <h1 (click)="jumper('action-sheet')">action sheet</h1>
    <h1 (click)="jumper('alter')">alter</h1>
    <h1 (click)="jumper('avatar')">avater</h1>
    <h1 (click)="jumper('back-button')">back-button</h1>
    <h1 (click)="jumper('backdrop')">backdrop</h1>
    <h1 (click)="jumper('badge')">badge</h1>
    <h1 (click)="jumper('bytton')">button</h1>
    <h1 (click)="jumper('card')">card</h1>
    <h1 (click)="jumper('chip')">chip</h1>
    <h1 (click)="jumper('content')">content</h1>
    <h1 (click)="jumper('fab')">fab</h1>
    <h1 (click)="jumper('lazyloadImg')">imag-lzyLoad</h1>
    <h1 (click)="jumper('infiniteScroll')">infiniteScroll</h1>
    <h1 (click)="jumper('input')">input</h1>
    <h1 (click)="jumper('item')">item</h1>
    <h1 (click)="jumper('itemdivider')">item分隔符</h1>
    <h1 (click)="jumper('itemsliding')">item-sliding</h1>
    <h1 (click)="jumper('label')">label</h1>
    <h1 (click)="jumper('list')">list</h1>
    <h1 (click)="jumper('loading')">loading</h1>
    <h1 (click)="jumper('menu')">menu</h1>
    <h1 (click)="jumper('modal')">modal</h1>
    <h1 (click)="jumper('nav')">nav</h1>
    <h1 (click)="jumper('popover')">popover</h1>
    <h1 (click)="jumper('radio')">radio</h1>
    <h1 (click)="jumper('range')">range</h1>
    <h1 (click)="jumper('refresher')">refresher</h1>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer>
