<!--<ion-header>-->
  <!--<ion-toolbar>-->
    <!--<ion-title>Header</ion-title>-->
  <!--</ion-toolbar>-->
<!--</ion-header>-->

<ion-content padding>
    <h1 (click)="jumper(1)">ionic4中的响应式布局</h1>
    <h1 (click)="jumper(2)">text布局</h1>
    <h1 (click)="jumper(3)">action sheet</h1>
    <h1 (click)="jumper(4)">alter</h1>
    <h1 (click)="jumper(5)">avater</h1>
    <h1 (click)="jumper(6)">back-button</h1>
    <h1 (click)="jumper(7)">backdrop</h1>
    <h1 (click)="jumper(8)">badge</h1>
    <h1 (click)="jumper(9)">button</h1>
    <h1 (click)="jumper(10)">card</h1>
    <h1 (click)="jumper(11)">chip</h1>
    <h1 (click)="jumper(12)">content</h1>
    <h1 (click)="jumper(13)">fab</h1>
    <h1 (click)="jumper(14)">imag-lzyLoad</h1>
    <h1 (click)="jumper(15)">infiniteScroll</h1>
    <h1 (click)="jumper(16)">input</h1>
    <h1 (click)="jumper(17)">item</h1>
    <h1 (click)="jumper(18)">item分隔符</h1>
    <h1 (click)="jumper(19)">item-sliding</h1>
    <h1 (click)="jumper(20)">label</h1>
    <h1 (click)="jumper(21)">list</h1>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer>
