<!--<ion-header>-->
  <!--<ion-toolbar>-->
    <!--<ion-title>Header</ion-title>-->
  <!--</ion-toolbar>-->
<!--</ion-header>-->

<ion-content padding>
    <h1 (click)="jumper(1)">ionic4中的响应式布局</h1>
    <h1 (click)="jumper(2)">text布局</h1>
    <h1 (click)="jumper(3)">action sheet</h1>
    <h1 (click)="jumper(4)">alter</h1>
    <h1 (click)="jumper(5)">avater</h1>
    <h1 (click)="jumper(6)">back-button</h1>
    <h1 (click)="jumper(7)">backdrop</h1>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer>
